.header-bg{
    background-image: url('https://i.ibb.co/sCWVNMg/page-title-1.jpg');
}
.service-center{
    text-align: center;
    margin-bottom: 50px;
}
.heading-underline{
    position: relative;
}
.underline::after{
    content: "";
    width: 500px;
    height: 2px;
    position: absolute;
    left: 25%;
    bottom: -5px;
    background-color: black;
}