.service-bg{
    background: url(https://i.ibb.co/y5k5N9z/abstract-bokeh-lights-background-1.jpg);
}
.margin-top-botm{
    margin: 50px 0px;
}
.card-position{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}