.app-form-bg{
    background-image: url(https://i.ibb.co/bmX3knZ/form-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.span-color{
    color: red;
}
.appointment-heading{
    position: relative;
}
.span-underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 470px;
    background-color: rgb(0, 0, 0);
    bottom: -7px;
    left: 30%;
}
.form-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 350px;
    outline: none;
}
.problem-box{
    height: 100px;
}
.submit-btn{
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 7px 25px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}