.abou-flex{
    display: flex;
    background: url(https://i.ibb.co/Phc8Rhx/5172658.jpg);
    background-size: cover;
}
.width-half{
    width: 48%;
    color: white;
}
.text-width{
    padding-left: 15%;
    padding-top: 20%;
    position:relative;
}
.text-width h1{
    font-size: 70px;
}
.text-width h1::after{
    content: '';
    background-color: white;
    height: 3px;
    width: 70px;
    position: absolute;
    bottom: 45%;
    left: 48%;
}
.width-half img{
    width: 100%;
}
.history-div{
    position: relative;
}
.history-underline::after{
    content: "";
    height: 2px;
    width: 100px;
    left:45%;
    bottom:-5%;
    background-color: red;
    position: absolute;
}
.our-history-underline::after{
    content: "";
    height: 3px;
    width: 100px;
    left:7%;
    bottom:-5%;
    background-color: red;
    position: absolute;
}
.maing-text{
    width: 60%;

}
.side-bar{
    width: 40%;
}