.form-bg{
    background-image: url(https://img.freepik.com/free-vector/medical-background-with-flat-icons-symbols_120542-353.jpg?w=900);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}
.appointment{
    margin: 10px;
    outline: none;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.appointment-date{
    display: block;
}