.form-bg{
    background-image: url(https://i.ibb.co/YR8TNbL/26807-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}
.appointment{
    margin: 10px;
    outline: none;
}
.appointment-head{
    position: relative;
}
.appointment-title::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 300px;
    bottom: -5px;
    left: 16%;
    background-color: rgb(228, 18, 18);
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.appointment-name{

}
.appointment-phone{

}
.appointment-date{

}
.appointment-time{

}
.appointment-problem{
    height: 100px;
    width: 400px;
}