.form-bg{
    background-image: url(https://i.ibb.co/YR8TNbL/26807-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}
.appointment{
    margin: 10px;
    outline: none;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.appointment-name{

}
.appointment-phone{

}
.appointment-date{

}
.appointment-time{

}
.appointment-problem{
    height: 100px;
    width: 400px;
}