/* services icon style here */
.icon-div{
    text-align: center;
    color: #284861;
    margin-top: 15px;
    display: inline;
}
.pera-center{
    text-align: justify;
}
.card-footer-btm{
    padding: 0.5rem 1rem;
    text-align: center;
}
.card-hover:hover{
    background-color: rgb(102, 167, 252);
    color: white;
}
.btn-hover:hover{
    background-color: white;
    color: black;
}