/* services icon style here */
.icon-div{
    text-align: center;
    color: #284861;
    margin-top: 15px;
    display: inline;
}
.pera-center{
    text-align: justify;
    margin: 0;
}
.card-footer-btm{
    padding-bottom: 0.5rem;
}
.card-hover:hover{
    background-color: rgb(0, 48, 110);
    color: white;
    box-shadow: 0 0 15px 7px #046fc0;
    transition: 0.5s;
}
.card-hover:hover h1{
    color: white;
}
.btn-hover:hover{
    background-color: white;
    color: black;
}