.log-d-flex{
    display: flex;
}
.login-half-width{
    width: 48%;
}
.login-img{
    margin-right: 4%;
}
.log-img-w{
    width: 100%;
}
.login-bg{
    box-shadow:0 0 15px 3px rgb(230, 230, 230);
    border-radius: 2%;
    margin-bottom: 2%;
}
.form{
    margin: 0 25%;
    padding-top: 10%;
}
.input-width{
    width: 280px;
    outline: none;
}
.other-login{
    margin-top: 8%;
}
.sumbit-color{
    background-color: #007DEF;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
}
.google-bt-bg{
    background-color: #4285F4;
}
.facebook-bt-bg{
    background-color:#3b5998;
}
.log-btn{
    border: none;
    padding: 7px 15px;
    border-radius: 3px;
}
